language: python
python:
  - "2.7"
# command to install dependencies
install:
  - pip install flake8
  - pip install autopep8

# command to run tests
script:
  - flake8 python_lab_2.py
  - autopep8 python_lab_2.py
