language: python
python:
  - "2.7"
# commands to install dependencies
install:
  - pip install flake8
  - pip install coverage
  - sudo apt install pep8
  - sudo apt-get install python3 python3-pip
  - sudo python3 -m pip install -U mypy
  - sudo pip3 install pycontracts
# commands to run tests
script:
  - flake8 --max-complexity=2 python_lab.py
  - python python_lab.py -m coverage --with-coverage --cover-min-percentage=99
  - pep8 python_lab.py
  - mypy python_lab_mypy.py
  - python3 python_lab_designbycontract.py
